nav{
    margin-bottom: 2em;
    height: 4em;
    padding: 0 1.5em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
nav .left{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
}
nav .left .separator::before{
    content: '';
    position: absolute;
    background-color: black;
    width: 1px;
    height: 100%;
    top: 0;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
nav ul li{
    list-style: none;
    font-size: 0.85em;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
        
}
nav button{
    border: none;
    font-size: 0.8rem;
    border-radius: 4px;
    background-color: #407bff;
    color: white;
    padding: 0.45em 1.5em;
    cursor: pointer;
}